<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="ourteam.css"> -->
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/aboutus.css' %}">
</head>

<body>
    <div class="grid">

        <div class="card-container">
            <!-- <span class="pro">PRO</span> -->
            <div class="imag"><img class="round" src="{% static 'img/dum 2.jpg' %}" alt="user" /></div>
            <h3>Aakash Singh</h3>
            <h6>COMPS</h6>
            <p>User Interface designer,<br/> front-end and back-end developer</p>
    
            <div class="skills">
                <h6>Skills</h6>
                <ul>
                    <li>UI / UX</li>
                    <li>Front End Development</li>
                    <li>ML</li>
                    <li>Python</li>
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>JavaScript</li>
                    <!-- <li>JavaScript</li> -->

                    
                </ul>
            </div>
        </div>

        <div class="card-container">
            <!-- <span class="pro">PRO</span> -->
            <div class="imag"><img class="round" src="{% static 'img/dum 2.jpg' %}" alt="user" /></div>
            <h3>Parikshit Pandey</h3>
            <h6>ECS</h6>
            <p>UX and back-end developer <br/> </p>
    
            <div class="skills">
                <h6>Skills</h6>
                <ul>
                    <li>UI / UX</li>
                    <li>Back End Development</li>
                    <li>ML</li>
                    <li>Django</li>
                    <li>Python</li>
                    <li>SQL</li>
                
                    
                </ul>
            </div>
        </div>

        <div class="card-container">
            <!-- <span class="pro">PRO</span> -->
            <div class="imag"><img class="round" src="{% static 'img/dum 2.jpg' %}" alt="user" /></div>
            <h3>Tanay Agarwal</h3>
            <h6>COMPS</h6>
            <p>ML and Backend developer<br/></p>
    
            <div class="skills">
                <h6>Skills</h6>
                <ul>
                    <li>UI / UX</li>
                    <li>Back End Development</li>

                    <!-- <li>Front End Development</li> -->
                    <li>ML</li>
                    <li>Python</li>

                    <!-- <li>ML</li> -->

                    <!-- <li>HTML</li> -->
                    <!-- <li>CSS</li> -->
                    <!-- <li>JavaScript</li> -->
                    
                </ul>
            </div>
        </div>

        <div class="card-container">
            <!-- <span class="pro">PRO</span> -->
            <div class="imag"><img class="round" src="{% static 'img/dum 2.jpg' %}" alt="user" /></div>
            <h3>Pooja Prajapti</h3>
            <h6>IT</h6>
            <p>User Interface designer, <br/> front-end Developer</p>
    
            <div class="skills">
                <h6>Skills</h6>
                <ul>
                    <li>UI / UX</li>
                    <li>Front End Development</li>
                    <li>Python</li>
                    <li>HTML</li>
                    <li>CSS</li>
                    <!-- <li>JavaScript</li> -->
                    
                </ul>
            </div>
        </div>

    

    

    

    



        

       






    </div>
</body>

</html>